@import "tailwindcss";

/* styles/globals.css or styles/main.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
  --font-poppins-bold: 'Poppins', sans-serif;

  --color-dark: #063940;  ;
  --color-teal: #00bfa6;
  --color-light: #e0f7fa;
}

/* Custom font and color classes (optional helpers) */
.font-poppins {
  font-family: var(--font-poppins-bold);
}

.text-dark {
  color: var(--color-dark);
}

.bg-dark {
  background-color: var(--color-dark);
}
.bg-teal-to-light {
  background: linear-gradient(270deg, var(--color-teal), var(--color-light));
  background-size: 400% 400%;
}

.clip-hero {
  clip-path: polygon(0 0, 100% 0%, 100% 91%, 0 99%);
}